$white: #f2f2f2;
$black: #323232;
$dark-black: #1e1e1e;
$gray: #565656;
$yellow: #ffe54a;
$red: #ff4d4d;
$blue: #50a8ff;
$green: #5b9c4c;

@import "mixins";

@import "animations";

@import "buttons";
